doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Todoアプリ
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/todo.css")

  body(ng-app="todoApp")

    .container(ng-controller="MainController")
      h1 ToDo

      form(ng-controller="RegisterController", ng-submit="addTodo()")
        .input-group
          input.form-control(type="text", required, placeholder="新しい要件を入力", ng-model="newTitle")
          span.input-group-btn
            button.btn.btn-default(type="submit") 追加

      div(ng-controller="ToolbarController")
        button.btn.btn-success(ng-click="checkAll()") 全て完了/未了
        button.btn.btn-default(ng-click="changeFilter()", ng-class="{active: !currentFilter}") 全部 
          span {{ allCount }}
        button.btn.btn-default(ng-click="changeFilter(filter.remaining)", ng-class="{active: currentFilter == filter.remaining}") 未了 
          span {{ remainingCount }}
        button.btn.btn-default(ng-click="changeFilter(filter.done)", ng-class="{active: currentFilter == filter.done}") 完了 
          span {{ doneCount }}
        button.btn.btn-danger(ng-click="removeDoneTodo()") 完了アイテムを全て削除

      ul.list-unstyled(ng-controller="TodoListController")
        li.todo-item(ng-repeat="todo in todoList | filter:currentFilter", ng-class="{done: todo.done, editing: todo == editing}")
          form(name="todoForm", ng-submit="doneEdit(todoForm)")
            .input-group
              span.input-group-addon
                input(type="checkbox", ng-model="todo.done")
              span.form-control.todo-title(ng-hide="todo == editing", ng-dblclick="editTodo(todo)") {{ todo.title }}
              input.form-control(type="text", required, ng-model="todo.title", ng-show="todo == editing", my-select="todo == editing", ng-blur="doneEdit(todoForm)")
              span.input-group-btn(ng-if="todo != editing")
                button.btn.btn-danger(type="reset", ng-click="removeTodo(todo)") 削除

    script(src="/bower_components/angular/angular.min.js")
    script(src="/js/app.js")
    script(src="/js/services.js")
    script(src="/js/controllers.js")
    script(src="/js/directives.js")
