commands:
  01_disable_npminstall
    command: sed -i "s/check_call(\[npm_path, 'install'\], cwd=app_path, env=npm_env)/#/g" /opt/elasticbeanstalk/containerfiles/ebnode.py
  02_disable_npminstall
    command: sed -i "s/check_call(\[npm_path, '--production', 'install'\], cwd=app_path, env=npm_env)/#/g" /opt/elasticbeanstalk/containerfiles/ebnode.py
  03_disable_npmrebuild
    command: sed -i "s/check_call(\[npm_path, 'rebuild'\], cwd=app_path, env=npm_env)/#/g" /opt/elasticbeanstalk/containerfiles/ebnode.py
  04_disable_npmrebuild
    command: sed -i "s/check_call(\[npm_path, '--production', 'rebuild'\], cwd=app_path, env=npm_env)/#/g" /opt/elasticbeanstalk/containerfiles/ebnode.py
