commands:
  01_npm_install_client:
    command: npm install
    cwd: /var/app/current/client
  02_npm_install_server:
    command: npm install
    cwd: /var/app/current/server
  03_compile_client_sources:
    command: npm run compile
    cwd: /var/app/current/client
  04_compile_server_sources:
    command: npm run compile
    cwd: /var/app/current/server
