form.form-login
  h2.form-login-heading ログイン
  input.form-control(type="email", placeholder="Email address", required, autofocus)
  input.form-control(type="password", placeholder="Password", required)
  button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
