form.form-signin
  h2.form-signin-heading サインイン
  input.form-control(type="email", placeholder="Email address", required, autofocus)
  input.form-control(type="password", placeholder="Password", required)
  button.btn.btn-lg.btn-primary.btn-block(type="submit") Signin

